@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,800|Nunito:400,600");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1640px;
  margin: auto;
}

@media (max-width: 1700px) {
  .container {
    padding: 0 80px;
  }
}

@media (max-width: 1441px) {
  .container {
    min-width: 80vw;
  }
}

@media (max-width: 426px) {
  .container {
    padding: 0 10px;
  }
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.button-all {
  padding: 20px 50px;
  border: 3px solid #3984f3;
  background-color: #3984f3;
  color: #fff;
}

.button_navbar {
  color: #3984f3;
  background-color: transparent;
}

@media (max-width: 769px) {
  .button-all {
    padding: 10px 30px;
  }
}

.navbar {
  position: fixed;
  background-color: #fff;
  width: 100%;
}

.navbar_wrap {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 150px;
}

.navbar_logo {
  margin-right: auto;
}

.navbar_navmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navbar__item {
  display: block;
  margin-right: 65px;
}

.navbar__item a {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  color: #bab8b8;
  font-size: 22px;
}

.navbar__item a:hover {
  color: #4497f3;
}

@media (max-width: 1440px) {
  .navbar_wrap {
    min-height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 1025px) {
  .navbar_navmenu {
    display: none;
  }
}

.hero {
  min-width: 100vw;
  min-height: 100vh;
}

.hero__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-wrap {
  padding-top: 350px;
  padding-left: 20px;
  max-width: 30%;
}

.hero__title {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 70px;
}

.hero__description {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  display: block;
  margin: 70px 0 100px 0;
  font-size: 22px;
  color: #bab8b8;
}

@media (max-width: 1441px) {
  .hero__img-main {
    height: 90%;
  }
  .hero__img-secondary {
    height: 30%;
  }
  .hero-wrap {
    max-width: 45%;
    padding-top: 140px;
  }
}

@media (max-width: 1025px) {
  .hero__img-main {
    height: 80%;
  }
  .hero__img-secondary {
    height: 20%;
  }
  .hero__title {
    font-size: 56px;
  }
  .hero__description {
    font-size: 17px;
  }
}

@media (max-width: 769px) {
  .hero-wrap {
    padding-top: 100px;
    padding-left: 0;
  }
  .hero__description {
    margin: 20px 0;
  }
}

@media (max-width: 426px) {
  .hero {
    min-width: 500px;
  }
  .hero-wrap {
    max-width: 100%;
    padding-top: 550px;
    text-align: center;
  }
}

.booking {
  background-color: #1e3d56;
  background-image: url(/img/booking-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
}

.booking__wrap {
  padding: 300px;
}

.booking__text {
  text-align: center;
}

.booking_subtitle {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 39px;
  text-transform: uppercase;
}

.booking_title {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 60px;
}

.booking__form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */