

.carousel__card {
    position: relative;
    overflow: hidden;
    width: 80%;
    min-width: 0;
    min-height: 0;
    max-height: 60vh;
    margin-top: 80px;
    margin-right: 40px;
    transition: .5s ease-out;
    &:hover {
        cursor: pointer;
        transform: translateY(-80px);
        transition: 0.5s ease-out;
    }
    &::before {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        content: '';
        background: linear-gradient(to top,rgba(52, 72, 78, 1.0),transparent);
    }

    
    &_thin {
        max-width: 375px;
    }
    &_thin > &-img {
        height: 100%;
        object-fit: cover;
        transform: translatex(-30%); 
    }
    &_fat{
        min-width: 470px;
        height: 460px;
    }
    &_fat  > &-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &_fat > &-title {
        left: 0;
    }
    &-price, &-title {
        position: absolute;
        z-index: 15; 
        font-size: 24px;
        color: #fff;
    }
    &-price {
        color: #fff;
        padding: 5px 30px;
        background-color: $button-color;
        top: 35px;
    }
    &-title {
        padding-left: 30px;
        bottom: 35px;
    }
}
@media (max-width: 769px) {
    .carousel__card {
        max-height: 200px;
        margin-right: 5px;
        margin-top: 50px;
        &:hover {
            transform: translateY(-50px);
        }
        &-price, &-title {
            font-size: 14px;
        }
        &-price {
            top: 15px;
            padding: 5px 10px;
        }
        &-title {
            padding-left: 10px;
            bottom: 20px;
        }
    }
}
@media (max-width: 426px){
    .carousel__card {
        min-width: 40%;
    }
}