.demo {
    display: flex;
    &__carousel {
        display: flex;
        margin: 50px 50px 0 -150px;
        flex-basis: 60%;    
    }
    &__text {
        flex-basis: 35%;
    }
}
@media (max-width: 1700px) {
    .demo {
        padding: 0 80px;
        &__carousel {
            max-width: 70%;
        }
    }
}
@media (max-width: 1441px) {
    .demo {
        &__carousel {
            margin: 0;
        }
    }
}
@media (max-width: 1025px) {
    .demo {
        margin: 0 auto;
        flex-direction: column;
        margin-top: 100px;
        &__carousel {
            order: 2;
            max-width: 80vw;
            margin: 50px auto;
        }
        &__text {
            order: 1;
            margin: 0 auto;
            text-align: center;
        }
    }
}
@media (max-width: 726px){
    .demo {
        padding: 0;
        &__carousel {
            overflow: scroll;
        }
    }
}

