.hero {
    min-width: 1180px;
    min-height: 100vh;
    &__img {
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
        z-index: -10;
        display: inline-flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &-wrap {
        padding-top: 350px;
        padding-left: 20px;
        max-width: 30%;
    }
    &__title {
        @include nunito_sans_bold;
        font-size: 70px;
    }
    &__description {
        @include nunito_sans_regular;
        display: block;
        margin: 70px 0 100px 0;
        font-size: 22px;
        color: $text-color;
    }
}
