.hero {
    min-width: 100vw;
    min-height: 100vh;
    &__img {
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
        z-index: -10;
        display: inline-flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &-wrap {
        padding-top: 350px;
        padding-left: 20px;
        max-width: 30%;
    }
    &__title {
        @include nunito_sans_bold;
        font-size: 70px;
    }
    &__description {
        @include nunito_sans_regular;
        display: block;
        margin: 70px 0 100px 0;
        font-size: 22px;
        color: $text-color;
    }
}
@media (max-width: 1441px){
    .hero {
        &__img-main {
            height: 90%;
        }
        &__img-secondary {
            height: 30%;
        }
        &-wrap {
            max-width: 45%;
            padding-top: 140px;
        }
    }
}
@media (max-width: 1025px){
    .hero {
        &__img-main {
            height: 80%;
        }
        &__img-secondary {
            height: 20%; 
        }
        &__title {
            font-size: 56px;
        }
        &__description {
            font-size: 17px;
        }
    }
}
@media (max-width: 769px){
    .hero {
        &-wrap {
            padding-top: 100px;
            padding-left: 0;
        }
        &__description {
            margin: 20px 0;
        }
    }
}
@media (max-width: 426px){
    .hero {
        min-width: 790px;
        &-wrap {
            max-width: 100%;
            padding-top: 550px;
            text-align: center;
        }
    }
}