.navbar {
    position: fixed;
    background-color: #fff;
    width: 100%;
    
    &_wrap {
        max-width: 100%;
        display: flex;
        align-items: center;
        min-height: 150px;
    }
    &_logo {
        margin-right: auto;
    }
    &_navmenu {
        display: flex;
        list-style: none;
    }
    &__item{
        display: block;
        margin-right: 65px;
        a {
           @include nunito_regular;
            color: $text-color; 
            font-size: 22px;
        } 
        a:hover {
            color: $accent-color;
        }
    }
}
@media (max-width: 1440px) {
    .navbar {
        &_wrap {
            min-height: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
@media (max-width: 1025px){
    .navbar {
        &_navmenu {
            display: none;
        }
    }
}