.navbar {
    position: fixed;
    background-color: #fff;
    width: 100%;
    &_wrap {
        
        width: 1640px;
        display: flex;
        align-items: center;
        min-height: 150px;
    }
    &_logo {
        margin-right: auto;
    }
    &_navmenu {
        display: flex;
        list-style: none;
    }
    &__item{
        display: block;
        margin-right: 65px;
        a {
           @include nunito_regular;
            color: $text-color; 
            font-size: 22px;
        } 
        a:hover {
            color: $accent-color;
        }
    }
}
